<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="studentguiden.ntnu.main" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="3" />

	<application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

	
		<activity android:name="studentguiden.ntnu.main.TabWidget" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="studentguiden.ntnu.main.HomeActivity" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name="studentguiden.ntnu.social.EventActivity" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name="studentguiden.ntnu.social.SocialActivity" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name="studentguiden.ntnu.courses.FindCourseActivity" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name="studentguiden.ntnu.timetable.TimetableActivity" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name="studentguiden.ntnu.courses.CourseActivity" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name="studentguiden.ntnu.dinner.DinnerActivity" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name="studentguiden.ntnu.dinner.SelectCampusActivity" android:label="@string/app_name" android:screenOrientation="portrait"/>

	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>